{% extends "layout.html" %}

{% block content %}


<script src="../static/scripts/home.js"></script>


<div class="jumbotron" style="margin-top:50px">
    <h2>Hello, {{user_name}} </h2>
    <p> {{msg}}</p>
    <!-- START:     Add Trip-->
    {% include 'modals/addTrip.html' %}
    <!-- END:       Add Trip-->

    <!-- error handling w/flash : start -->
    <br /><br /><br /><br />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message_error in messages %}
    <div class="alert alert-warning">
        {{ message_error }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- error handling w/flash : end  -->


</div>
{% include 'modals/addField.html' %}
{% include 'travelList.html' %}


{% endblock %}