{% extends "layout.html" %}

{% block content %}


<script src="../static/scripts/login.js"></script>


<div class="jumbotron" style="margin-top:50px">
    <h2>{{message}} Please log in.</h2>

    {% include 'login/login_form.html' %}
    {% include 'login/create_account.html' %}


    <!-- error handling -->

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message_error in messages %}
    <div class="alert alert-warning">
        {{ message_error }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>




{% endblock %}