<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading text-center"> <h2><b>{{trip_name}}</b></h2>  <span class="pull-right">(Trip Id= <b>'{{trip_id}}'</b> )</span><br /></div>
    
    <br/>
    <!-- show only when it is admin (for add new fields) -->
    {{admin_button}}
    
    <!-- error handling w/flash : start -->
    <br /><br /><br /><br />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message_error in messages %}
    <div class="alert alert-warning">
        {{ message_error }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- error handling w/flash : end  -->


    <br /><br />
    <!-- Show Result Table for each travel -->
    <table class="table table-hover">
        
        <tr>
            <th>Event</th>
            <th>Detail</th>
            <th>Date/Time</th>            
            <th>Status</th>
        </tr>

        {{sorted_result}}
    </table>
    <!--
    SAMPLE TEXT - Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    -->
</div>

