
<div class="row center-block" id="create_account" >
    <form method="post" class="form-horizontal center-block ">

        <div class="row col-lg-12 center-block">

            <div class="form-group ">
                <label for="create_account_fname" class="col-xs-4 control-label">First Name</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="create_account_fname" name="create_account_fname" placeholder="John" required>
                </div>
            </div>

            <div class="form-group ">
                <label for="create_account_lname" class="col-xs-4 control-label">Last Name</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="create_account_lname" name="create_account_lname" placeholder="Doe" required>
                </div>
            </div>


            <div class="form-group ">
                <label for="create_login_email" class="col-xs-4 control-label">Email</label>
                <div class="col-xs-8">
                    <input type="email" class="form-control" id="create_login_email" name="create_login_email" placeholder="email@example.com" required>
                </div>
            </div>


            <div class="form-group">
                <label for="create_login_pw" class="col-xs-4 control-label">Password</label>
                <div class="col-xs-8">
                    <input type="password" class="form-control" id="create_login_pw" name="create_login_pw" placeholder="password" required>
                </div>
            </div>


            <div class="form-group">
                <label for="confirm_login_pw" class="col-xs-4 control-label">Password Confirm</label>
                <div class="col-xs-8">
                    <input type="password" class="form-control" id="confirm_login_pw" name="confirm_login_pw" placeholder="password" required> 
                </div>
            </div>


            <div class="text-center col-lg-8 col-md-8 col-sm-10 col-xs-10">
                <button type="button" class="btn btn-default " id="cancel_to_login">Cancel</button>
                <button type="submit" class="btn btn-primary pull-right" name="auth" value="create_account">Create Account</button>
            </div>

            <div class="row">

            </div>
        </div>
    </form>


</div>
