
<div class="row center-block" id="login_form">
    <form method="post" class="form-horizontal center-block ">

        <div class="row col-lg-12 center-block">

            <div class="form-group ">
                <label for="login_email" class="col-xs-4 control-label" >Email</label>
                <div class="col-xs-8">
                    <input type="email" class="form-control" id="login_email" name="login_email" placeholder="email@example.com" required>
                </div>
            </div>


            <div class="form-group">
                <label for="login_pw" class="col-xs-4 control-label">Password</label>
                <div class="col-xs-8">
                    <input type="password" class="form-control" id="login_pw" name="login_pw" placeholder="password" required>
                </div>
            </div>

            <div class="text-center col-lg-8 col-md-8 col-sm-10 col-xs-10">
                <button type="button" class="btn btn-default" id="show_create_account_form">Create Account</button>
                <button type="submit" class="btn btn-primary pull-right" name="auth" value="login">&nbsp;&nbsp;&nbsp;&nbsp; Log In &nbsp;&nbsp;&nbsp;&nbsp;</button>                
            </div>

            <div class="row">
                
            </div>
        </div>
    </form>


</div>
